/* 
* @Author: wentao.deng
* @Date:   2017-06-08 15:00:51
* @Last Modified by:   wentao.deng
* @Last Modified time: 2017-06-14 17:09:42
*/
*{
	margin: 0;
	padding: 0;
}


img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
a {
    color: #08c;
    text-decoration: none;
}

.markdown-text p, .preview p {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
}

.preview p, .reply_content p, .reply_form p, .topic_content p {
    font-size: 15px;
    line-height: 1.7em;
    overflow: auto;
}

.panel .markdown-text a {
    color: #08c;
}

code, pre {
    padding: 0 3px 2px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12px;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

code {
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

code {
    padding: 0;
    border: none;
}

.markdown-text li code, .markdown-text p code, .preview li code, .preview p code {
    color: #000;
    background-color: #fcfafa;
    padding: 4px 6px;
}

.panel{
	padding: 0 10px;
	list-style: none;
	background-color: #fefefe;
}
.panel > li{
	border-bottom: 1px solid #eee;
	padding: 14px 10px;
}
.author_content img{
	width: 30px;
	height: 30px;
	margin-right: 10px;
	border-radius: 5px;
}
.reply_author {
    font-size: 12px;
    font-weight: 700;
    color: #666;
}
.reply_content {
    clear: both;
    padding-left: 0;
    padding-top: 5px;
}
.col_fade{
    margin-top: 20px;
    border-left: 2px solid #80bd01;
	background-color: #ddd;
	padding: 10px 14px;
}

.submit_btn{
    display: block;
    margin: 10px 0;
    line-height: 32px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #80bd01;
}